# Ignore all files in doc/ by default
doc/*

# But allow only specific file types
!doc/*.drawio
!doc/*.png
!doc/*.docx
!doc/*.pptx

# Only ignore this specific file
cloud/random_forest_model.joblib

# Still ignore unwanted files explicitly
doc/*.bkp
doc/~$*.docx
doc/~$*.pptx
doc/*.dtmp

# General ignores
**/__pycache__/
edge/
.env